{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $ordered := ($filtered.ByParam "date").Reverse }}
    {{ $pag := .Paginate ($ordered) }}
    
    
<!-- HERE4 SATEST Top of Index page -->


<h2 class="article-title">Welcome to Dartmoor Walking</h2>

<script>
    function goToRandomPost() {
      const pages = [
        {{ range ((where .Site.RegularPages "Type" "post")) }}
        "{{ .RelPermalink }}?utm_source=random",
        {{ end -}}
      ];
      const rand = Math.floor(Math.random() * pages.length);
      window.location.href = pages[rand];
    }
  </script>


<div class="article-subtitle">
    There’s nowhere quite like Dartmoor!<br><br>

    Whether you’re local or making a special visit, there are so many benefits to exploring the landscape and the stories it holds. <br><br>

    To help you on your way, this site contains {{ len (where .Site.RegularPages "Type" "post") }} self-guided walks of varying length and terrain, all with Parking, Directions, Photographs, Maps, Tracks and explanations of what you'll find. <br><br>

    Each one of these walks is based on personal experience, so you’ll benefit from unique local knowledge and see the moor through the eyes of those most passionate about sharing its wonder.<br><br>

    To get started, please select an <a href="/walks/">an area of Dartmoor</a>, view the <a href="/map/">map</a> or choose a <a class="random" onclick='goToRandomPost()'>random walk</a><br>


    <hr>
</div>



<!-- End SATEST fixings -->

<!-- The following only shows most recent within that pagination group - not ideal -->

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
