{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $ordered := ($filtered.ByParam "date").Reverse }}
    {{ $pag := .Paginate ($ordered) }}

 <h2 class="article-title">Welcome to Dartmoor Walking</h2>

<script>
    function goToRandomPost() {
      const pages = [
        {{ range ((where .Site.RegularPages "Type" "post")) }}
        "{{ .RelPermalink }}?utm_source=random",
        {{ end -}}
      ];
      const rand = Math.floor(Math.random() * pages.length);
      window.location.href = pages[rand];
    }
  </script>


<div class="article-subtitle">
    <p>Come and explore Dartmoor!</p>

    <p>Whether you know the moor well or you're visiting for the first time, <a href="https://dartmoorwalking.org">Dartmoor Walking</a> is here to help you explore this special place on foot. With its wild landscapes, rich history, and unique culture, Dartmoor offers something for everyone.</p>

    <p>Here, you'll find {{ len (where .Site.RegularPages "Type" "post") }} self-guided walks, ranging from shorter, easier outings to longer routes across more rugged ground. Each walk includes parking details, clear directions, maps, GPX tracks, photos, and notes on what to look out for along the way.</p>

    <p>All routes are based on first-hand experience, with local knowledge to help you get a little more from your time on Dartmoor.</p>

    <p>To get started, please select an <a href="/walks/">an area of Dartmoor</a>, view the <a href="/map/">map</a> or choose a <a class="random" onclick='goToRandomPost()'>random walk</a>.</p>
    <hr>
</div>


<!-- The following only shows most recent within that pagination group - not ideal -->

    <section class="article-list">
        {{ range $index, $element := $pag.Pages }}
            {{ partial "article-list/default" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}
    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
