## Information

<ul>
<li>Distance: <b>{{ .Page.Params.distance }} miles</b>, walked by {{ .Page.Params.author }} and transcribed by <a href="mailto:digdilem@gmail.com">Simon Avery</a></li>
<li> Grade: <b><a href="/tags/{{ .Page.Params.grade | strings.ToLower }}/">{{ .Page.Params.grade }}</a></b></li>

{{ if isset .Page.Params "gpx" }}
<li> A GPX route of this walk is available: <b><a href="/gpx/{{ .Page.Params.gpx }}.gpx">Download GPX <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-download"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg></a></b></li>
{{ end }}

<li> <a href="https://www.google.com/maps/dir/?api=1&destination={{ .Page.Params.coords }}">Directions to Car Park  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-directions">
    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
    <path d="M12 21v-4" />
    <path d="M12 13v-4" />
    <path d="M12 5v-2" />
    <path d="M10 21h4" />
    <path d="M8 5v4h11l2 -2l-2 -2z" />
    <path d="M14 13v4h-8l-2 -2l2 -2z" />
  </svg></a></li>
<li> <a href="https://w3w.co/{{ .Page.Params.w3w }}">What Three Words</a> <code>{{ .Page.Params.w3w }}</code></li>
</ul>
